$color-column-bg: rgba(0, 0, 0, 0.7); // Цвет колонок
$color-card-bg: rgba(255, 255, 255, 0.1); // Цвет карточек
$color-text-bold: rgba(255, 255, 255, 0.87);
$color-text-regular: rgba(255, 255, 255, 0.6);
$color-red: rgba(252, 54, 57, 0.6);
$color-blue: #0184CF;

.kanban-board {
  background: url('../../assets/imgs/image.png') no-repeat center center fixed;
  background-size: cover;
  padding: 20px;
  display: flex;
  gap: 20px;
  min-height: 100vh;
  color: $color-text-bold;
}

.column {
  background: $color-column-bg;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: $color-text-bold;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-card {
  background: $color-card-bg;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  color: $color-text-regular;

  &.overdue {
    border-left: 4px solid $color-red;
  }

  &.editing {
    border: 2px solid $color-blue;
  }
}

.trash-bin {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: $color-card-bg;
  border: 2px dashed $color-red;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: rgba(252, 54, 57, 0.2);
  }
}
